<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dbd5fc7a-ee7e-41e7-8630-b6f38840b7b8/resourceGroups/learn-293f47f8-22f2-477e-bb30-8aae16cb68a0/providers/Microsoft.Web/sites/noskoed-bipit-11-12</ResourceId>
    <ResourceGroup>learn-293f47f8-22f2-477e-bb30-8aae16cb68a0</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://noskoed-bipit-11-12.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>noskoed-bipit-11-12.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>noskoed-bipit-11-12</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$noskoed-bipit-11-12</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=PISKAREK.mssql.somee.com;Initial Catalog=PISKAREK;Persist Security Info=False;User ID=secondAcy_SQLLogin_1;Password=2o8gynzbz3;Packet Size=4096;Workstation ID=PISKAREK.mssql.somee.com" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Bipit_11_12.Models.DBIndex, Bipit_11_12" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DBContext-Web.config Connection String">
      <ParameterValue>Data Source=PISKAREK.mssql.somee.com;Initial Catalog=PISKAREK;Persist Security Info=False;User ID=secondAcy_SQLLogin_1;Password=2o8gynzbz3;Packet Size=4096;Workstation ID=PISKAREK.mssql.somee.com</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>